<section data-ng-controller="MenuController">
<div>
    <div>
         <nav class="site-nav clearfix" >      
         
            <ul class="nav_ul" >           
                <li class="nav_li nav_home-li" ng-repeat="x	in topMenus" ng-mouseover="main_hover=true" ng-mouseleave="main_hover=false">
                    <a href="{{x.link}}" ng-class="{'nav_a':true, {{x.class}}:false, {{x.highlightClass}}:main_hover}"  style=z-index: 90;" >
                            {{x.title}}<em ng-show="{{x.hasChild}}" class="nav_arrow"></em>
                    </a>
                    <div class="subnav_can" ng-if="x.items.length>0" ng-show="main_hover">                    
                        <div class="subnav_destination-city">
                            <h3> 你好</h3>
                            <ul class="cols">
                                
                                <li ng-repeat="y in x.items">
                                  <a href="{{y.link}}">{{y.title}}</a>
                                </li>
                                
                            </ul>  
                         </div>
                    </div>
                </li>
                
              
                <li class="nav_li fr nav_search-li"><a href="javascript:void(0);" class="nav_a nav_search"><span class="nav_search-btn">&nbsp;</span><em class="nav_arrow"></em></a></li>
            </ul>            
        </nav>
    </div>
    
    <div class="contentAndCommentsHolder">
        <div class="mainContent">
                <div class = "blankBody" ng-init="loadSlides(6000)" >        
                    <div ng-repeat="slide in slides" >
                       
                        <img class="slide" ng-src="{{slide.image}}" ng-show ="isCurrentSlideIndex($index)" />
                         <p class="over-text" ng-show ="isCurrentSlideIndex($index)">hello</p>
                    </div>
                </div>
        </div> 
    </div><!--END contentAndCommentsHolder-->
                 
    <div class="footerBg" >
		<div class="footer">
    	    <div class="footerBucketContent">
				<h3> About Us </h3>
				<p> <p><strong>在这了解您想知道的一切，尽情享受您的澳大利亚梦幻之旅。了解我们的历史、文化、美食佳酿、艺术以及优美的自然风景。澳大利亚既拥有可追溯到五万年前的丰富原住民历史，满富传奇色彩的拓荒英雄和开拓者，也有着蜚声国际的电影巨星，您将深入了解到是什么将澳大利亚塑造为如今这个充满活力、现代化的多元文化国家</strong>。
                </p>
                </p>
			</div>
                        
            
                        
            <div class="footerBucketContent">
				<h3>Contact</h3>
                   
				<p><span class="bold"><b>Address </b></span>11 village, Chatswood, New South Wales, Australia</p>                
                <p><span class="bold"><b>Phone </b></span>  +61288778866</p>                
                <p><span class="bold"><b>Email </b></span>  admin@freetravel.com</p>			
                <div class="aboutSocialFooter">
                    <a href="www.facebook.com">F</a>
                    <a href="www.google.com">g</a>
                </div>
            </div>

    	</div><!-- END footer -->
        
        <hr />
        <div class="footer2">
    		<div class="copyRight1"><p>©2015 Travel Around Australia – All Rights Reserved</p>
            </div>
        	
            <div class="copyRight2"><p></p>
            </div>
    	</div><!-- END footer2 -->
        
        
	</div><!-- END footerBg -->
</div>

</section>
