
* {
	margin: 0;
	padding: 0;
	border: none;
	list-style: none;
	text-decoration: none;
	outline:none; 
	-webkit-text-size-adjust:none;
}
html {	
	/*font-size: 100%;  -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; */
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-tap-highlight-color: transparent;
}
body {
	font-family: 'Arial', 'Tahoma', 'Verdana', 'helvetica', 'microsoft yahei',"???ии?беиж?бниж?бо","SimHei","иж?бо??б░",sans-serif; /* ??o?o??бн???1Opera?? ?o?aА????ии?беиж?бниж?боaА? */
	color: #333;
	font-size: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: .08em;
}

.js body table {
    border-collapse: separate;
}
.fr {
	float: right !important;
}
.fl {
	float: left;
}
/*.clearfix{overflow:hidden;_zoom:1;}*/
/* Clear Fix */
 .clearfix:after
{
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}

.clearfix
{
	display:inline-block
}

/*hide from IE*/
* html .clearfix{ height: 1% }
/*End hide from IE*/

.clearfix
{
	display:block;
} 
/* End of clearfix*/
/*******************************site********************************/
.site-top_wrap {
	height: 120px;
}
* html,* html body{
	background-image:url(about:blank);
	background-attachment:fixed;
	} /* ????бш?IE6 fixed??иC??бзbug */
.site-top {
	position: fixed;
	z-index: 120;
	width: 100%;
	height: 120px;
	top: 0;
	left: 0;
	_position:absolute;
	_left:expression(eval(document.documentElement.scrollLeft));
	_top:expression(eval(document.documentElement.scrollTop));
}

.site-header { 
	position: relative;
	z-index: 1000;
	width: 100%;
	height: 90px;
	background-color: #1ab7ea;
}
.site-logo {
	float: left;
	margin: 12px 1.5% 0;
	*display:inline;
	_margin-left:0.8%;
}
.site-logo img {
	width: 168px;
	height: 63px;
}
.site-name {
	display: block;
	float: left;
	letter-spacing: 2px;
	margin: 20px 0 0;
	padding-left: 1.5%;
	
	border-left: 1px solid rgba(255,255,255,.8);

	font-size: 1.2em;
	_line-height: 25px;
    font-weight: normal;
}
.header-right {
	float: right;
	margin: 0 1.5% 0 0;
	_margin: 0 0.8% 0;
	position: relative;
}
.site-channel {
	overflow: hidden;
	padding-top: 12px;
}
.channel-rs {
	float: left;
	line-height: .9;
	font-weight: normal;
	font-size: 1.5em;
	padding-right: .2em;
	color: #a3e2f7;
}
.site-channel ul {
	*vertical-align: bottom;
	_padding: 3px 0;
}
.site-channel ul li{
	display: block;
	float: right;
	font-size: .75em;
	line-height: 1;
	margin-left: 10px;
}
.site-channel ul li a{
	color: #a3e2f7;
	letter-spacing: 1px;
}
.site-channel ul li a:hover{
	color: #fff;
}
.site-channel ul .txtcolor_normal a{
	color: #fff;
}
.site-channel ul .txtcolor_normal a:hover{
	text-decoration: underline;
}
.login-btns span {
	margin: 0 5px;
	font-size: .75em;
	border-left: 1px solid #fff;
}
.site-weather {
	zoom: 1;
	overflow: hidden;
	float: right; 
	margin-top: 8px;
	height: 57px;
}
.weather-icon img{
	vertical-align: middle;
}
.weather-deg {
	font-family: Helvetica, sans-serif;
	font-size: 2.75em;
	font-weight: lighter;
}
.weather-deg .deg-cel{
	vertical-align: super;
	font-size: .75em;
	margin-left: -3px;
	padding-right: 10px;
}
.line-seprator {
	width: 28px;
	text-align: center;
}
.line-seprator span{
	font-size: 1.85em;
	border-left: 1px solid rgba(255,255,255,.8);

}
.deg-num{
	font-size: 1.1em;
}
.weather-city {
	font-size: .75em;
	padding-top: 10px;
}
.site-nav {
	position: fixed;
	width: 100%;
	z-index: 999;
	background: -webkit-linear-gradient(top, #323232 0%, #404040 10%, #404040 90%, #323232 100%);
	background: -moz-linear-gradient(top, #323232 0%, #404040 10%, #404040 90%, #323232 100%);
	background: -ms-linear-gradient(top, #323232 0%, #404040 10%, #404040 90%, #323232 100%);
	background: -o-linear-gradient(top, #323232 0%, #404040 10%, #404040 90%, #323232 100%);
	background: linear-gradient(top, #323232 0%, #404040 10%, #404040 90%, #323232 100%);
	background-color: #404040;
}

.nav_selected {
	background: -webkit-linear-gradient(top, #0c2939 0%, #164d6b 10%, #164d6b 90%, #0c2939 100%);
	background: -moz-linear-gradient(top, #0c2939 0%, #164d6b 10%, #164d6b 90%, #0c2939 100%);
	background: -ms-linear-gradient(top, #0c2939 0%, #164d6b 10%, #164d6b 90%, #0c2939 100%);
	background: -o-linear-gradient(top, #0c2939 0%, #164d6b 10%, #164d6b 90%, #0c2939 100%);
	background: linear-gradient(top, #0c2939 0%, #164d6b 10%, #164d6b 90%, #0c2939 100%);
}
.no-cssgradients .site-nav {
	background-color: #404040;
}
.no-cssgradients .nav_selected {
	background-color: #0c2939;
}
.nav_menu_mobi,.nav_login_mobi,.nav_weather_mobi {
	display: none;
}
.nav_ul {
	margin: 0 2%;
}
.nav_li {
	float: left;
	position: relative;
	z-index: 100;
	-webkit-box-shadow: -1px 0 0 rgba(0,0,0,.2) inset, 1px 0 0 rgba(255, 255, 255,.1) inset;
	-moz-box-shadow: -1px 0 0 rgba(0,0,0,.2) inset, 1px 0 0 rgba(255, 255, 255,.1) inset;
	box-shadow: -1px 0 0 rgba(0,0,0,.2) inset, 1px 0 0 rgba(255, 255, 255,.1) inset;
}
.nav_a {
	color: #d1d2d4;
	display: block;
	white-space:nowrap;
	padding: 0 1.25em;
	font-size: .8em;
	letter-spacing: .225em;
	line-height: 30px;
	
	-webkit-transition: background-color .15s ease-in;
	-moz-transition: background-color .15s ease-in;
	-ms-transition: background-color .15s ease-in;
	-o-transition: background-color .15s ease-in;
	transition: background-color .15s ease-in;
}
.no-boxshadow .nav_a {

	border-left: 1px solid #515151; /* ?|????????б▒бе???box-shadow????б▒бзborder??гд?????бъ */
	border-right: 1px solid #333333;
}
.nav_arrow{
	display: block;
	position: absolute;
	z-index: 100;
	top: 100%;
	left: 50%;
	margin-left: -7px;
	/* ??o?o??бн???1IE6??????иибы2ии????бе */
	border-width: 7px;
	border-style:solid dashed dashed;
	border-color: transparent;
	line-height: 0;
	visibility: hidden;
	-webkit-transition: border-color .15s ease-in;
	-moz-transition: border-color .15s ease-in;
	-ms-transition: border-color .15s ease-in;
	-o-transition: border-color .15s ease-in;
	transition: border-color .15s ease-in;
}
.nav_home-li {
	-webkit-box-shadow: -1px 0 0 rgba(0,0,0,.2) inset, 1px 0 0 rgba(255, 255, 255,.1) inset, -1px 0 0 rgba(0,0,0,.2);
	-moz-box-shadow: -1px 0 0 rgba(0,0,0,.2) inset, 1px 0 0 rgba(255, 255, 255,.1) inset, -1px 0 0 rgba(0,0,0,.2);
	box-shadow: -1px 0 0 rgba(0,0,0,.2) inset, 1px 0 0 rgba(255, 255, 255,.1) inset, -1px 0 0 rgba(0,0,0,.2);
}

.nav_experience-li {
	-webkit-box-shadow: -1px 0 0 rgba(0,0,0,.2) inset, 1px 0 0 rgba(255, 255, 255,.1) inset, 1px 0 0 rgba(255, 255, 255,.1);
	-moz-box-shadow: -1px 0 0 rgba(0,0,0,.2) inset, 1px 0 0 rgba(255, 255, 255,.1) inset, 1px 0 0 rgba(255, 255, 255,.1);
	box-shadow: -1px 0 0 rgba(0,0,0,.2) inset, 1px 0 0 rgba(255, 255, 255,.1) inset, 1px 0 0 rgba(255, 255, 255,.1);
}
.nav_home_hover {
	_display: inline-block;
	background-color:#0a4f76;
}
.nav_home_hover .nav_arrow{
	visibility: visible;
	border-color: #0a4f76 transparent transparent;
}
.nav_about_hover {
	_display: inline-block;
	background-color:#9b6f49;
}
.nav_about_hover .nav_arrow{
	visibility: visible;
	border-color: #9b6f49 transparent transparent;
}
.nav_destination_hover {
	_display: inline-block;
	background:#442f3e;
}
.nav_destination_hover .nav_arrow{
	visibility: visible;
	border-color: #442f3e transparent transparent;
}
.nav_explore_hover {
	_display: inline-block;
	background-color:#15535c;
}
.nav_explore_hover .nav_arrow{
	visibility: visible;
	border-color: #15535c transparent transparent;
}
.nav_plan_hover {
	_display: inline-block;
	background-color:#e88949;
}
.nav_plan_hover .nav_arrow{
	visibility: visible;
	border-color: #e88949 transparent transparent;
}
.nav_activity_hover {
	_display: inline-block;
	background-color:#3a4163;
}
.nav_activity_hover .nav_arrow{
	visibility: visible;
	border-color: #3a4163 transparent transparent;
}
.nav_experience_hover {
	_display: inline-block;
	background-color:#4E733D;
}
.nav_experience_hover .nav_arrow{
	visibility: visible;
	border-color: #4E733D transparent transparent;
}
.nav_search_hover {
	_display: inline-block;
	background-color:#0a4f76;
}
.nav_search_hover .nav_arrow{
	visibility: visible;
	border-color: #0a4f76 transparent transparent;
}

.no-boxshadow .nav_search_li .nav_a,.nav_search_li {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border: none;
}
.nav_search_btn {
	width: 32px;
	display: inline-block;
	background-image: url(../img/misc/btn-search.png);
	background-repeat: no-repeat;
	background-position: center;
}

/* ?o??oбь?бе?ии?a */
.subnav_can {
	position: absolute;
	top: 100%;
	left: 0;
	margin: 0 2%;
	padding:30px 20px 30px 50px;
	z-index: 95;
	/* width: 88%; */
	background-color: #444;
	display: block;
}

.subnav_can a:hover img{
	-ms-box-shadow:4px 4px 6px rgba(0,0,0,.3);
    -moz-box-shadow:4px 4px 6px rgba(0,0,0,.3);
    -webkit-box-shadow:4px 4px 6px rgba(0,0,0,.3);
    box-shadow:4px 4px 6px rgba(0,0,0,.3);
}
.subnav_can h3{ 
	font-size:0.9em; 
	padding-bottom:18px;
	white-space:nowrap;
	font-weight:200;
	color:#d2d2d2;
	line-height: 0.8;
}
.subnav_can a{
	color:#d2d2d2;
	text-decoration:none;
	cursor:pointer;
}
.subnav_can ul li {
	text-align:left; 
	color:#d2d2d2; 
	font-size:.75em;
	line-height: 2.2;
	white-space:nowrap;
}



/* .subnav_about h3{  
	color:#ffc315;
} */
.subnav_about a:hover{
	color:#fff;
}
.subnav_about a:hover img{
	border:1px solid #fff;
}
.subnav_about-maininfo{
	float: left;
	padding-right: 25px;
	white-space:nowrap;
	height:180px; 
}
.subnav_about-maininfo h3{
}
.subnav_about-maininfo td{
	text-align:left; 
	color:#d2d2d2; 
	font-size:.75em; 
	width:95px;
	border:none;
	line-height:2em;
}
.subnav_about-maininfo .subnav_about-tr-title td{
	padding-top: 10px;
}
.subnav_about-maininfo td a {
	display: block;
	width: 75px;
	white-space:nowrap;
}
.subnav_about-maininfo td img {
	vertical-align: bottom;
}
.subnav_about-history,.subnav_about-nature{
	float:left;
	white-space:nowrap; 
	height:205px;
	padding:0 30px;
	background: url(images/border-subnav.gif) left center repeat-y;	
}


.subnav_can a:hover{
	color:#fff;
}     

.subnav_destination-state {
	float:left;
	height:130px; 
}
.subnav_destination-city {
	height: 130px;
	float: left;
	padding-left:30px;
	background: url(images/border-subnav.gif) left center repeat-y;	
}
.subnav_destination-state ul,.subnav_destination-city ul	{
	float:left;
	display:block;
	margin-right: 30px;
}

.cols {
    -moz-column-count: 3;
    -moz-column-gap: 20px;
    -webkit-column-count: 3;
    -webkit-column-gap: 20px;
    column-count: 3;
    column-gap: 20px;
}

.subnav_explore a:hover{
	color:#fff;
}
.subnav_explore a:hover img{
	border:1px solid #fff;
}
.subnav_explore ul {
	margin-right: 30px;
}
.subnav_explore-7d{
	float:left;
	white-space:nowrap;
	height:260px;
	padding-right: 5px;
}
.subnav_explore-7d td{
	text-align:left; 
	color:#d2d2d2; 
	font-size:.75em; 
	white-space:nowrap;
	width:95px;
	border:none;
	line-height:2em;
}
.subnav_explore-7d .subnav_explore7d-tr-title td{
	padding-top: 12px;
}
.subnav_explore-7d td a {
	display: block;
	width: 75px;
}
.subnav_explore-7d td img {
	vertical-align: bottom;
}			
.subnav_explore-scenic{
	float:left;
	white-space:nowrap;
	height:260px;
	padding-left: 30px; 
	background: url(images/border-subnav.gif) left center repeat-y;	
}		
.subnav_explore-scenic ul{
	float: left;
} 
.subnav_explore-activity{
	float:left;
	white-space:nowrap;
	height:260px;
	padding-left: 30px;
	background: url(images/border-subnav.gif) left center repeat-y;	
} 


.subnav_plan a:hover{
	color:#fff;
}
.subnav_plan-prepare,.subnav_plan-journey,.subnav_plan-notice,.subnav_plan-tool,.subnav_plan-activity{
	float:left;
	white-space:nowrap;
	display:block;
	height:205px; 
}
.subnav_plan-prepare{
	padding-right: 30px;
}
.subnav_plan-journey{
	padding:0 30px;
	background: url(images/border-subnav.gif) left center repeat-y;	
}
.subnav_plan-notice{
	padding:0 30px;
	background: url(images/border-subnav.gif) left center repeat-y;	
}	
.subnav_plan-tool{
	padding:0 30px;
	background: url(images/border-subnav.gif) left center repeat-y;	
}							 			 				 
.subnav_plan-activity{
	padding:0 30px;
	background: url(images/border-subnav.gif) left center repeat-y;	
}
.subnav_plan-tool img,.subnav_plan-activity img{
	border: 1px solid transparent;
}
.subnav_plan-tool a:hover img,.subnav_plan-activity a:hover img{
	border: 1px solid #fff;
}
.subnav_activity div {
	float: left;
}
.subnav_activity img{
	border: 1px solid transparent;
}
.subnav_activity a:hover img{
	border: 1px solid #fff;
}
.subnav_activity-aaa{
	padding-right: 30px;
}
.subnav_activity-latest,.subnav_activity-bestJob{
	padding:0 30px;
	background: url(images/border-subnav.gif) left center repeat-y;	
}

.subnav_experience div {
	float: left;
}
.subnav_experience img{
	border: 1px solid transparent;
}
.subnav_experience a:hover img{
	border: 1px solid #fff;
}
.subnav_experience-signature{
	padding-right: 30px;
}
.subnav_experience-star,.subnav_experience-weibo{
	padding:0 30px;
	background: url(images/border-subnav.gif) left center repeat-y;	
}




.subnav_search {
	position: absolute;
	top: 100%;
	left: 0;
	margin: 0 2%;
	padding-left:4%;
	padding-right:4%;
	padding-top:2%;
	padding-bottom:2%;
	z-index: 95;
	width: 88%; 
	background-color: #444;
	display: none;
}
.subnav_search table {
	width:  100%;
}
.subnav_search table td {
	vertical-align: middle;
}
.subnav_search_txt-wrap {
	width: 50%;
}
input.subnav_search_txt{
	background-color: #848484;
	height:40px;
	width:  100%;
	font-size: 1.5em;
	color: #fff;
	padding-left: 10px;
	font-family:  'helvetica neue', 'microsoft yahei',"???ии?беиж?бниж?бо","SimHei","иж?бо??б░",sans-serif; /* ??o?o??бн???1Opera?? ?o?aА????ии?беиж?бниж?боaА? */
}
.subnav_search_btn-wrap{
	width:50px;
	height: 42px;
}
input.subnav_search_btn{
	background-color:#444444;
	width:40px;
	height:40px;
	background-image:url(images/btn-search.gif);
	background-repeat: no-repeat;
	background-position:center;
	border:1px #848484 solid;
	margin:0 30px 0 15px;
	vertical-align: top;
	cursor: pointer;
}
input.subnav_search_btn:hover{
	background-color: #555;
}
.search_tag_l,.search_tag_r{
	width:27px;
	height:60px;
	cursor: pointer;
}
.search_tag_l{
	background:url(images/subnav/ser-l.gif) left center no-repeat;
}
.search_tag_r{
	background:url(images/subnav/ser-r.gif) left center no-repeat;
}

.search_tag_txt ul{
	display: none;
}
.search_tag_txt-p{
	font-size:1em;
	color:#d2d2d2;
	margin-bottom:3px;
	padding-left:10px;
	}
.search_tag_txt li{margin:5px 2px; float:left;}
.search_tag_txt li a{
	display: block;
	white-space: nowrap;
	color:#444444;
	font-size:.9em;
	background-color:#b4b4b4;
	padding:0 10px;
	line-height: 2.5;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
}
.search_tag_txt li a:hover{
	color:#FFF;
} 

